@import url('https://fonts.googleapis.com/css?family=Impact');
@import url('https://fonts.googleapis.com/css?family=Century+Gothic');
body{
  font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}
/* 
.v_center
used in admin login page to get card vertically and horizontally center
last code edited by - Devang
last modified date - 4th May, 2020
*/
.v_center {
    display: flex;
    width: 100%;
    justify-content: center;
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
/* modified carousel-item of bootstrap css
last code edited by - Devang
last modified date - 4th May, 2020
 */
.carousel-item{
    height: 100vh;
    min-height: 300px;
    background: no-repeat center center scroll;
    background-size: cover;
}

/* footer 1 & footer 2
last code edited by - Devang
last modified date - 4th May, 2020
 */
.footer__contact{
  background-color:rgba(156, 28, 32, 1);
  text-transform: uppercase;
  color: rgba(255, 255, 255, 1);
}
.footer__contact--center{
  text-align-last: center;
  font-weight: 900;
}
.footer__contact--last{
    position: absolute;
    right: 20px;
    top: 0px;  
}
.footer__contact--last>a{
  color: rgba(255, 255, 255, 1);
  padding: 5px;
}
footer>.footer__content{
  padding-top: 10px;
  padding-bottom: 5px;
}
.footer__info{
  background-color:rgba(76, 87, 96, 1);
}
.footer__info--center{
  color:rgba(220, 220, 220, 1);
  text-align-last: center;
}
.footer__info--center>p{
  margin: 0;
  font-size: x-small;
}

/* 
each section with full width of screen view
last code edited by - Devang
last modified date - 4th May, 2020
*/
/* section { height: 100vh; } */

/* 
quick easy
last code edited by - Devang
last modified date - 7th May, 2020
*/
.uppercase{
  text-transform: uppercase;
}

.bold_text{
  font-weight: 500;
}
.card-img-top{
  height: 250px;
}
.red__text{
  color:rgba(156, 28, 32, 1);
  font-size: x-large;
}
.head_text{
  color:rgba(76, 87, 96, 1);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}
.center_content{
  text-align-last: center;
}
.explore_more>div>a:hover{
  text-decoration: none;
  color:rgba(156, 28, 32, 1);  
}
.right_arrow{
  font-size: xx-large;
  position: relative;
  right:10px;
  top:5px;
  color:rgba(76, 87, 96, 0.7);

}
.button_times{
  color: rgba(255, 255, 255, 1);
  font-size: large;
}
.font_impact{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-weight: 500;
  letter-spacing: 1px;
}
.font_century_gothic{
  font-family: 'Century Gothic', Arial, Helvetica, sans-serif;
}
.justify_text{
  text-align: justify;
}
.hrule{
  background-color: rgba(95, 2, 2, 0.7);
}
.bold_title{
  font-weight: 900;
}
/* overlay sidebar
last code edited by - Devang
last modified date - 6th May, 2020 */

aside {
  position: fixed;
  width: 35%;
  height: 100%;
  top: 0;
  right: 0;
  background:  rgba(159, 44, 47, 1);
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s ease;
  z-index: 1100;
}
.open {
  opacity: 1;
  visibility: visible;
}
.sidebar {
  text-align: right;
  height: 95vh;
  margin-right:100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
 .sidebar> ul {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  .sidebar>ul> li {
      align-items: right;
      flex: 1;
      line-height: 15vh;
  }
  .sidebar>ul>li> a {
    font-size: 1.5em;
    transition: all 0.5s ease;
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.5);   
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .sidebar>ul>.active  a{
    display: block;
    text-decoration: none;
    color: rgba(255, 255, 255, 1);   
    text-transform: uppercase;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  }
  .sidebar>ul>li> a:hover{
    color: rgba(255, 255, 255, 1); 
  }
  .close {
    position: fixed;
    top: 40px;
    right: 60px;
    color:rgba(255, 255, 255, 1);
    z-index: 3;
    cursor: pointer;
    font-family: sans-serif;
  }
  .close > span, .close>  span:before,.close>  span:after {
    border-radius: 4px;
    height: 5px;
    width: 35px;
    background:rgba(255, 255, 255, 1);
    position: absolute;
    display: block;
    content: '';
  }
  .close>span {
    background: transparent;
  }
  .close>span:before {
  transform: rotate(45deg);
  }
  .close>span:after {
  transform: rotate(-45deg);
  }

.outer-close {
    position: absolute;
    right: 0;
    top: 0;
    width: 85px;
    height: 85px;
    cursor: pointer;
}
@media screen and (min-width: 600px) {
  .sidebar ul li a {
    font-size: 3em;
  }
}

/* overlay hover on work and services in index page
last code edited by - Devang
last modified date - 5th May, 2020
 */

.overlay_work_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(156, 28, 32, 1);
}

.work:hover .overlay_work_hover {
  opacity: 0.8;
}
.work>.card>a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
}
.overlay_work_hover>.card-body{
  padding-top: 45%;
}

/* overlay hover on our team about page
last code edited by - Devang
last modified date - 5th May, 2020
 */

 .overlay_about_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(156, 28, 32, 1);
}
.about>.card>a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  letter-spacing: 1px;
}
.about:hover .overlay_about_hover {
  opacity: 0.8;
}
/* overlay hover on services, services page
last code edited by - Devang
last modified date - 6th May, 2020
 */

 .overlay_services_box_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(156, 28, 32, 1);
}
.services_box>a>.card-body{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 16px;
  letter-spacing: 1px;
  padding-top: 60px;
}
.services_box:hover .overlay_services_box_hover {
  opacity: 1;
}
.services_box>a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.services_box{
  box-shadow: 0 20px 20px rgba(0,0,0,0.05), 20px 0px 20px rgba(0,0,0,0.05),0px 0px 4px rgba(0,0,0,0.05);
}
.services_box:hover{
  box-shadow:none;
}
/* about page meet our team team text css
last code edited by - Devang
last modified date - 5th May, 2020
*/
.small_text{
  font-size: 1rem;
  text-align: left;
  font-weight: bold;
}
/* overlay hover on services
last code edited by - Devang
last modified date - 4th May, 2020
 */
.services {
  transition: box-shadow 0.3s;
  border-radius:10px;
  border: 0px solid rgba(204, 204, 204, 1);
  background: rgba(255, 255, 255, 1);
}
.services:hover {
  box-shadow: 0 0 11px rgba(33,33,33,0.2); 
}
.services>a:hover{
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}
.services>a{
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
}

/* gradient effect on connect section
last code edited by - Devang
last modified date - 5th May, 2020 */

.connect_gradient{
  position:relative;
  display:inline-block;
}
.connect_gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background:
    linear-gradient( rgba(255, 255, 255, 1), transparent),
    linear-gradient(to right, rgba(171, 173, 173, 1), transparent);
    background-blend-mode: screen;
}
.connect_gradient img{
  display:block;
}

/* gradient effect on home our offering section
last code edited by - Devang
last modified date - 5th May, 2020 */

.home_gradient{
  position:relative;
  display:inline-block;
}
.home_gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background:
    linear-gradient(to top,rgba(255, 255, 255, 1), transparent),
    linear-gradient(to right, rgba(171, 173, 173, 1), transparent);
    background-blend-mode: screen;
}
.home_gradient img{
  display:block;
}
/* gradient effect on about page first image
last code edited by - Devang
last modified date - 5th May, 2020 */

.about_services_blog_gradient{
  position:relative;
  display:inline-block;
}
.about_services_blog_gradient:after{
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background:
    linear-gradient(to top,rgba(255, 255, 255, 1), transparent),
    linear-gradient(to right, rgba(156, 28, 32, 1), transparent);
    background-blend-mode: screen;
}
.about_services_blog_gradient img{
  display:block;
}

/* explore_services page section highlight css
last code edited by - Devang
last modified date - 6th May, 2020 */
.highlight{
  background:
    linear-gradient(to right,rgba(156, 28, 32, 0.7),transparent);
    background-blend-mode: screen;
  color: rgba(53, 0, 0, 0.863);
}


/* blog page blog_img and card css
last code edited by - Devang
last modified date - 7th May, 2020 */
.blog_border{
  border: 0;
}
.v_line2{
  float: left; 
  padding-right: 3px;
  width: 10px;
  height: 90px;
  position: relative;
  right:5px;
}

.blog_img{
  filter: grayscale(1);;
  height: 20%;
}
.blog_title{
  color:rgba(76, 87, 96, 0.7);
  font-weight: 900;
}
.overlay_blog_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}

/* explore blog page blog_img and card css
last code edited by - Devang
last modified date - 8th May, 2020 */

.explore_blog>.card>.card-body>.row>div>.blog_title{
  font-size: 0.84rem;
}
.overlay_explore_blog_page_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
}
.flickity-page-dots{
  display: none;
}
.explore_blog_img{
  position:relative;
  width:100%;
  }
  
.explore_blog_img>img{
  width:100%;
  height:400px;
  display:block;
  filter: grayscale(1) contrast(50%);
  }
  
.explore_blog_img>.overlay_explore_img{
  background:linear-gradient(to right,rgba(156, 28, 32, 0.75),90%,transparent);
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  }

/* overlay hover on work page
last code edited by - Devang
last modified date - 7th May, 2020
 */

 .overlay_work_page_hover {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color:rgba(156, 28, 32, 1);
}
.work_page_img{
  height: 350px;;
}

.work_page:hover .overlay_work_page_hover {
  opacity: 0.8;
}
.work_page>.card>a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  letter-spacing: 1px;
}
.overlay_work_page_hover>.card-body{
  padding-top: 35%;
}

/* gradient effect on contact page
last code edited by - Devang
last modified date - 7th May, 2020 */

.contact_gradient{
  position:relative;
  display:inline-block;
}
.contact_gradient:after {
  content:'';
  position:absolute;
  left:0; top:0;
  width:100%; height:100%;
  display:inline-block;
  background:
    linear-gradient(to right, rgba(171, 173, 173, 0.7),100%,transparent);
}
.contact_gradient img{
  display:block;
}

/* bootstrap form control custom css
last code edited by - Devang
last modified date - 7th May, 2020 */
.form-control:focus {
  border-color: rgba(0, 0, 0, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
.btn_color{
  background-color: rgba(156, 28, 32, 1);
  border-radius: 0;
  color: rgba(255, 255, 255, 1);
}
.btn_custom_link{
  color:rgba(0, 0, 0, 1);
}
.btn_custom_link:hover{
  text-decoration: none;
  color:rgba(0, 0, 0, 1);
}

/* contact page connect button css
last code edited by - Devang
last modified date - 8th May, 2020 */

.connect>.btn-outline-light:hover{
  color:rgba(0, 0, 0, 1);
}

input {
        display: block;
}

input {
        width: 100%;
        padding: 10px;
        outline: 0;
        border: 2px solid #B0BEC5;
}
input:invalid {
        border-color: #DD2C00;
}

